.Dropdown {

  .dropdownLine {
    display: flex;
    align-items: center;
  
    .chevronIcon {
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .gifContainer {
    width: 100%;
    text-align: center;
    .gif {
      margin: 10px 0 0;
      width: 80%;
      height: auto;
      border-radius: 16px;
      box-shadow: 0 1px 4px 0 rgba(14,30,37,.12);
    }
  }
}