$button-bounce: scale(0.98);
$button-transition-duration: 300ms;

.Bio {
  display: block;

  .name-container {
    display: flex;
    align-items: center;
    padding-bottom: 24px;

    h1 {
      margin: auto;
      margin-left: 0;
      font-size: 30px;
      font-weight: 600;
    }

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-right: 0;
      padding: 0;
      width: 36px;
      height: 36px;
      background-color: transparent;
      border: none;
      border-radius: 6px;
      opacity: 0.7;
      transition: background-color $button-transition-duration,
                  opacity $button-transition-duration;

      @media(hover: hover) and (pointer: fine) {
        &.light:hover {
          background-color: var(--lightShadow2);
          opacity: 1;
        }

        &.dark:hover {
          background-color: var(--darkShadow2);
          opacity: 1;
        }
      }

      &:active {
        transform: $button-bounce;
        transition: none;
      }

      &:focus {
        outline: none;
      }

      ion-icon {
        font-size: 24px;
        color: inherit;
      }
    }
  }
  
  p {
    margin: 0;
  }
}