$button-bounce: scale(0.98);
$button-transition-duration: 300ms;

.Bio {
  display: block;

  .name-container {
    display: flex;
    align-items: center;
    padding-bottom: 24px;

    h1 {
      margin: auto;
      margin-left: 0;
      font-size: 30px;
      font-weight: 600;
    }

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-right: 0;
      padding: 0;
      width: 32px;
      height: 32px;
      background-color: transparent;
      border: none;
      opacity: 0.75;
      transition: opacity $button-transition-duration ease;

      @media(hover: hover) and (pointer: fine) {
        &:hover {
          opacity: 1;
        }
      }

      &:active {
        transform: $button-bounce;
        transition: none;
      }

      &:focus {
        outline: none;
      }

      ion-icon {
        font-size: 24px;
        color: inherit;
      }
    }
  }
  
  p {
    margin: 0;
  }
}